
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Ficha</title>
</head>
<body>


    <div class = 'container'>
        <div class="row">

            <!-- Inicio Primeira Coluna -->
            <div class="col s5 grey darken-4 amber-text text-lighten-1 esquerda " style="height: 100%">
                <div class="row">
                    <div class="col s4">
                            <img style = 'width: 90%; margin-top: 5px;' src="{% static 'img/token_1.png' %}">
                    </div>
                    <div class="col s8 ">
                        <h5> Nome: {{ entidade.personagem.nome }}</h5>
                        <hr>
                        <div class="row">
                            <div class="col s6">
                                <p> Natureza: {{entidade.personagem.natureza}}</p>
                                <p> Idade: {{entidade.personagem.idade}}</p>
                            </div>
                            <div class="col s6">
                                <p> Comportamento: {{entidade.personagem.comportamento}}</p>
                                <p> Clã: {{entidade.personagem.cla}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col s6">
                        <p> Vitalidade: {{entidade.ficha.vitalidade}} / {{entidade.ficha.vitalidade_max}}</p>
                        <p> Pontos de Sangue: {{entidade.ficha.pontos_sangue}} / {{entidade.ficha.pontos_sangue_max}}</p>
                        <p> Humanidade: {{entidade.ficha.humanidade}}</p>
                    </div>
                </div>
                <hr>
                <h5 class = 'title-session'>  Atributos  </h5>
                <div class = 'row'>
                    <div class = 'col s4'>
                        <h6 class = 'subtitle-session'> Físicos </h6>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Força: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.forca}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Destreza: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.destreza}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Vigor: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.vigor}} </div>
                        </div>
                    </div>
                    <div class = 'col s4'>
                        <h6 class = 'subtitle-session'> Sociais </h6>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Carisma: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.carisma}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Manipulação: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.manipulacao}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Aparência: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.aparencia}} </div>
                        </div>
                    </div>
                    <div class = 'col s4'>
                        <h6 class = 'subtitle-session'> Mentais </h6>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Percepção: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.percepcao}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Inteligência: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.inteligencia}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Raciocínio: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.raciocinio}} </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <h5 class = 'title-session'>  Virtudes  </h5>
                <div class="row">
                    <div class = 'col s6'>
                        <div class = 'row'>
                            <div class = 'col s8 campo'> Consciência: </div>
                            <div class = 'col s2'> {{entidade.ficha.consciencia}} </div>
                            <div class = 'col s2'> </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s8 campo'> AutoControle: </div>
                            <div class = 'col s2'> {{entidade.ficha.autocontrole}} </div>
                            <div class = 'col s2'> </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s8 campo'> Coragem: </div>
                            <div class = 'col s2'> {{entidade.ficha.coragem}} </div>
                            <div class = 'col s2'> </div>
                        </div>
                    </div>

                    <div class = 'col s6'>
                        <div class = 'row'>
                            <div class = 'col s8 campo'> Defesa: </div>
                            <div class = 'col s2'> {{entidade.ficha.defesa}} </div>
                            <div class = 'col s2'> </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s8 campo'> Iniciativa: </div>
                            <div class = 'col s2'> {{entidade.ficha.iniciativa}} </div>
                            <div class = 'col s2'> </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s8 campo'> Deslocamento: </div>
                            <div class = 'col s2'> {{entidade.ficha.deslocamento}} </div>
                            <div class = 'col s2'> </div>
                        </div>
                    </div>
                    <div class = 'col s6'>
                            <p> Força de Vontade: {{entidade.ficha.forca_vontade}} / {{entidade.ficha.forca_vontade_max}} </p>
                    </div>
                </div>
            </div>
            <!-- Fim Primeira Coluna -->

            <!-- Inicio Segunda Coluna -->
            <div class="col s7 grey darken-4 amber-text text-lighten-1 direita" style="height: 100%">
                <div class="row">
                    <h5 class = 'title-session'> Habilidades  </h5>
                    <div class="col s4  grey darken-4">
                        <h6 class = ' subtitle-session'> Talentos </h6>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Prontidão: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.prontidao}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Esportes: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.esportes}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Briga: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.briga}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Esquiva: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.esquiva}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Empatia: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.empatia}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Expressão: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.expressao}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Intimidação: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.intimidacao}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Liderança: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.lideranca}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Manha: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.manha}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Lábia: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.labia}} </div>
                        </div>
                    </div>

                    <div class="col s4  grey darken-4">
                       <h6 class = 'subtitle-session'> Perícias </h6>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Empatia com animais: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.empatia_animais}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Ofícios: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.oficios}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Condução: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.conducao}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Etiqueta: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.etiqueta}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Armas de Fogo: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.armas_fogo}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Armas Brancas: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.armas_branca}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Performance: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.performance}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Segurança: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.seguranca}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Furtividade: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.furtividade}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Sobrevivência: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.sobrevivencia}} </div>
                        </div>
                    </div>

                    <div class="col s4  grey darken-4">
                        <h6 class = 'subtitle-session'> Conhecimentos </h6>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Acadêmicos: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.academicos}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Computador: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.computador}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Finanças: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.financas}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Investigação: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.investigacao}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Direito: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.direito}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Linguística: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.linguistica}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Medicina: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.medicina}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Ocultismo: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.ocultismo}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Político: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.politico}} </div>
                        </div>
                        <div class = 'row'>
                            <div class = 'col s9 campo'> Ciência: </div>
                            <div class = 'col s3 valor'> {{entidade.ficha.ciencia}} </div>
                        </div>
                    </div>
                </div>

                <div class = 'row'>
                    <div class="col s6 grey darken-4">
                        {% if entidade.qualidades != none or entidade.defeitos != none %}
                        <hr>
                            <h5 class = 'title-session'>  Qualidades e Defeitos  </h5>
                            <div class="row">
                                <div class="col s6 grey darken-4 ">
                                    {% for qualidade in entidade.qualidades %}
                                        <div class = 'row'>
                                            <div class = 'col s12 campo amber-2-text'> {{ qualidade.titulo }} </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col s6 grey darken-4">
                                    {% for defeito in entidade.defeitos %}
                                        <div class = 'row'>
                                            <div class = 'col s12 campo amber-2-text'> {{ defeito.titulo }} </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if entidade.antecendentes != none %}
                            <h5 class = 'title-session'>  Antecendentes </h5>
                            {% for antecendente in entidade.antecendentes %}
                                <div class = 'row'>
                                    <div class = 'col s9 campo'> {{ antecendente.titulo }}: </div>
                                    <div class = 'col s3'> {{antecendente.valor}} </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col s6 grey darken-4">
                        <hr>
                        {% if entidade.disciplinas != none %}
                            <h5 class = 'title-session'> Disciplinas </h5>
                            {% for disciplina in entidade.disciplinas %}
                                <div class = 'row'>
                                    <div class = 'col s9 campo'> {{ disciplina.titulo }}: </div>
                                    <div class = 'col s3'> {{disciplina.valor}} </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if entidade.inventario != None %}
                            <h5 class = 'title-session'> Inventário </h5>
                            {% for item in entidade.inventario %}
                                <div class = 'row'>
                                    <div class = 'col s12 campo white-text'> {{ item.titulo }} </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>
            <!-- Inicio Segunda Coluna -->

        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>
