
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Ficha</title>
</head>
<body>

    <div class = 'container'>
        <div class="row">


            <div class="col s4 blue-grey darken-4 amber-text text-lighten-2">

                <h5> Nome: {{entidade.personagem.nome}}</h5>
                <div class="row">
                    <div class="col s6">
                        <p> Natureza: {{entidade.personagem.natureza}}</p>
                        <p> Idade: {{entidade.personagem.idade}}</p>
                    </div>
                    <div class="col s6">
                        <p> Comportamento: {{entidade.personagem.comportamento}}</p>
                        <p> Clã: {{entidade.personagem.cla}}</p>
                    </div>
                </div>

                <h5 class = 'title-session'> ⤟⤌⤌⤌ ... ⤍⤍⤍⤔ </h5>
                <div class="row">
                    <div class="col s6">
                        <p> Vitalidade: {{entidade.ficha.vitalidade}} / {{entidade.ficha.vitalidade_max}}</p>
                        <p> Pontos de Sangue: {{entidade.ficha.pontos_sangue}} / {{entidade.ficha.pontos_sangue_max}}</p>
                        <p> Humanidade: {{entidade.ficha.humanidade}}</p>
                    </div>
                </div>

                <h5 class = 'title-session'> ⤟⤌⤌⤌ Atributos ⤍⤍⤍⤔ </h5>
                <div class = 'row'>
                    <div class = 'col s4'>
                        <h6 class = 'white-text title-session'> Físicos </h6>
                        <p> Força: {{entidade.ficha.forca}} </p>
                        <p> Destreza: {{entidade.ficha.destreza}} </p>
                        <p> Vigor: {{entidade.ficha.vigor}} </p>
                    </div>
                    <div class = 'col s4'>
                        <h6 class = 'white-text title-session'> Sociais </h6>
                        <p> Carisma: {{entidade.ficha.carisma}} </p>
                        <p> Manipulação: {{entidade.ficha.manipulacao}} </p>
                        <p> Aparência: {{entidade.ficha.aparencia}} </p>
                    </div>
                    <div class = 'col s4'>
                        <h6 class = 'white-text title-session'> Mentais </h6>
                        <p> Percepção: {{entidade.ficha.percepcao}} </p>
                        <p> Inteligência: {{entidade.ficha.inteligencia}} </p>
                        <p> Raciocínio: {{entidade.ficha.raciocinio}} </p>
                    </div>
                </div>

                <h5 class = 'title-session'> ⤟⤌⤌⤌ Virtudes ⤍⤍⤍⤔ </h5>
                <div class="row">
                    <div class = 'col s6'>
                            <p> Consciência: {{entidade.ficha.consciencia}} </p>
                            <p> AutoControle: {{entidade.ficha.autocontrole}} </p>
                            <p> Coragem: {{entidade.ficha.coragem}} </p>
                    </div>

                    <div class = 'col s6'>
                            <p> Consciência: {{entidade.ficha.consciencia}} </p>
                            <p> AutoControle: {{entidade.ficha.autocontrole}} </p>
                            <p> Coragem: {{entidade.ficha.coragem}} </p>
                    </div>
                    <div class = 'col s6'>
                            <p> Força de Vontade: {{entidade.ficha.forca_vontade}} / {{entidade.ficha.forca_vontade_max}} </p>

                    </div>
                </div>
            </div>

            <div class="col s8 blue-grey darken-4 amber-text text-lighten-2">
                <div class="row">
                    <h5 class = 'title-session'> ⤟⤌⤌⤌ Habilidades ⤍⤍⤍⤔ </h5>
                    <div class="col s4  blue-grey darken-4">
                        <h6 class = 'white-text title-session'> Talentos </h6>
                        <p> Prontidão: {{entidade.ficha.prontidao}} </p>
                        <p> Esportes: {{entidade.ficha.esportes}} </p>
                        <p> Briga: {{entidade.ficha.briga}} </p>
                        <p> Esquiva: {{entidade.ficha.esquiva}} </p>
                        <p> Empatia: {{entidade.ficha.empatia}} </p>
                        <p> Expressão: {{entidade.ficha.expressao}} </p>
                        <p> Intimidação: {{entidade.ficha.intimidacao}} </p>
                        <p> Liderança: {{entidade.ficha.lideranca}} </p>
                        <p> Manha: {{entidade.ficha.manha}} </p>
                        <p> Lábia: {{entidade.ficha.labia}} </p>
                    </div>
                    <div class="col s4  blue-grey darken-4">
                       <h6 class = 'white-text title-session'> Perícias </h6>
                        <p> Empatia com animais: {{entidade.ficha.empatia_animais}} </p>
                        <p> Ofícios: {{entidade.ficha.oficios}} </p>
                        <p> Condução: {{entidade.ficha.conducao}} </p>
                        <p> Etiqueta: {{entidade.ficha.etiqueta}} </p>
                        <p> Armas de Fogo: {{entidade.ficha.armas_fogo}} </p>
                        <p> Armas Brancas: {{entidade.ficha.armas_branca}} </p>
                        <p> Performance: {{entidade.ficha.performance}} </p>
                        <p> Segurança: {{entidade.ficha.seguranca}} </p>
                        <p> Furtividade: {{entidade.ficha.furtividade}} </p>
                        <p> Sobrevivência: {{entidade.ficha.sobrevivencia}} </p>
                    </div>

                    <div class="col s4  blue-grey darken-4">
                        <h6 class = 'white-text title-session'> Conhecimentos </h6>
                        <p> Acadêmicos: {{entidade.ficha.academicos}} </p>
                        <p> Computador: {{entidade.ficha.computador}} </p>
                        <p> Finanças: {{entidade.ficha.financas}} </p>
                        <p> Investigação: {{entidade.ficha.investigacao}} </p>
                        <p> Direito: {{entidade.ficha.direito}} </p>
                        <p> Linguística: {{entidade.ficha.linguistica}} </p>
                        <p> Medicina: {{entidade.ficha.medicina}} </p>
                        <p> Ocultismo: {{entidade.ficha.ocultismo}} </p>
                        <p> Político: {{entidade.ficha.politico}} </p>
                        <p> Ciência: {{entidade.ficha.ciencia}} </p>
                    </div>
                </div>

                <h5 class = 'title-session'> ⤟⤌⤌⤌ Qualidades e Defeitos ⤍⤍⤍⤔ </h5>
                <div class="row">
                    <div class="col s6 blue-grey darken-4">
                        <h6 class = 'white-text title-session'> Qualidades </h6>
                    </div>
                    <div class="col s6 blue-grey darken-4">
                        <h6 class = 'white-text title-session'> Defeitos </h6>
                    </div>
                </div>

                <h5 class = 'title-session'> ⤟⤌⤌⤌ Disciplinas e Antecedentes ⤍⤍⤍⤔ </h5>
                <div class="row">
                    <div class="col s6 blue-grey darken-4">
                        <h6 class = 'white-text title-session'> Disciplinas </h6>
                    {% for disciplina in entidade.disciplinas %}
                        <p> {{ disciplina.titulo }}: {{disciplina.valor}} </p>
                    {% endfor %}
                    </div>

                    <div class="col s6 blue-grey darken-4">
                        <h6 class = 'white-text title-session'> Antecedentes </h6>
                    </div>
                </div>

                <h5 class = 'title-session'> ⤟⤌⤌⤌ Inventário ⤍⤍⤍⤔ </h5>
                <div class="row">
                    <div class="col s8 blue-grey darken-4">
                        <p> Inventário </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>
