{% extends 'core/baseTemplate.html' %}

{% block title %}
    Ficha | {{ entidade.personagem.nome }}
{% endblock title %}

{% block menu %}
<br>
<div class="container">
    <div class="row row-menu">
        <div class="col s4">
                <img class="token" src=" /static/{{ entidade.imagem }}">
        </div>
        <div class="col s8">
            <h1> {{ entidade.personagem.nome }} </h1>
            <h2> {{ entidade.ficha.experiencia }}xp </h2>
        </div>
    </div>
    <hr>
    <div class="row row-menu">
        <div class="col s12">
            <p class="item-menu"> Comportamento: {{entidade.personagem.comportamento}}</p>
        </div>
        <div class="col s12">
            <p class="item-menu"> Natureza: {{entidade.personagem.natureza}}</p>
        </div>
        <div class="col s12">
            <p class="item-menu"> Clã: {{entidade.personagem.cla}}</p>
        </div>
        <div class="col s12">
            <p class="item-menu"> Idade: {{entidade.personagem.idade}}</p>
        </div>
    </div>
    <hr>
</div>
<li>
    <a class="btn btn-menu" href="{% url 'listar_mesas' %}">  Mesas
        <i class="material-icons white-text left">format_list_bulleted</i>
    </a>
</li>
<li>
    <a class="btn btn-menu" href="{% url 'ficha' entidade.personagem.id %}">  Modo Jogo
        <i class="material-icons white-text left">file_upload</i>
    </a>
</li>
{% endblock %}

{% block conteudo %}

<!---------- Início Primeira Coluna ---------->
<div class="col s4 col-esquerda">
    <!---------- Stats Inicio ---------->
    <div class="row row-title-barra">
        <div class = 'col s12'> <h3> Vitalidade </h3> </div>
    </div>
    <div class = 'row'>
        <div class = 'col s1'> </div>
        <div class = 'col s10 col-valor porcentagem black-text'>
            <div class = 'porcentagem-barra-verde black-text' style="width: {{ entidade.porcentagem.vitalidade }}%;">
                {{entidade.ficha.vitalidade}} / {{entidade.ficha.vitalidade_max}}
            </div>
        </div>
    </div>
    <div class="row row-title-barra">
        <div class = 'col s12'> <h3> Pontos de Sangue </h3> </div>
    </div>
    <div class = 'row'>
        <div class = 'col s1'> </div>
        <div class = 'col s10 col-valor porcentagem black-text'>
            <div class = 'porcentagem-barra-vermelha black-text' style="width: {{ entidade.porcentagem.sangue }}%;">
                {{entidade.ficha.pontos_sangue}} / {{entidade.ficha.pontos_sangue_max}}
            </div>
        </div>
    </div>
    <div class="row row-title-barra">
        <div class = 'col s12'> <h3> Força de Vontade </h3> </div>
    </div>
    <div class = 'row'>
        <div class = 'col s1'> </div>
        <div class = 'col s10 col-valor porcentagem black-text'>
            <div class = 'porcentagem-barra-azul black-text' style="width: {{ entidade.porcentagem.vontade }}%;">
                {{entidade.ficha.forca_vontade}} / {{entidade.ficha.forca_vontade_max}}
            </div>
        </div>
    </div>
    <!---------- Stats Fim ---------->

    <hr>

    <!---------- Virtudes Início ---------->
    <h5 class = 'title-session'>  Virtudes  </h5>
    <div class="row">
        <div class = 'col s6'>
            <div class = 'row'>

                {% if entidade.ficha.experiencia >= entidade.custo.consciencia %}
                <div class = 'col s2 col-btn'>
                    <form action="{% url 'upar_virtude' %}"  method="post"> {% csrf_token %}
                        <input type="hidden" name="id" value = "{{ entidade.ficha.id }}">
                        <input type="hidden" name="campo" value = "consciencia">
                        <button type="submit" class="vcheck btn-alt-stats"><i class="tiny material-icons"> exposure_plus_1 </i></button>
                    </form>
                </div>
                <div class = 'col s6 col-titulo'> Consciência </div>
                {% endif %}

                {% if entidade.ficha.experiencia < entidade.custo.consciencia %}
                    <div class = 'col s8 col-titulo'> Consciência </div>
                {% endif %}

                <div class = 'col s2 col-valor'> {{entidade.ficha.consciencia}} </div>
            </div>
            <div class = 'row linha'>

                {% if entidade.ficha.experiencia >= entidade.custo.autocontrole %}
                <div class = 'col s2 col-btn'>
                    <form action="{% url 'upar_virtude' %}"  method="post"> {% csrf_token %}
                        <input type="hidden" name="id" value = "{{ entidade.ficha.id }}">
                        <input type="hidden" name="campo" value = "autocontrole">
                        <button type="submit" class="vcheck btn-alt-stats"><i class="tiny material-icons"> exposure_plus_1 </i></button>
                    </form>
                </div>
                <div class = 'col s6 col-titulo'> AutoControle </div>
                {% endif %}

                {% if entidade.ficha.experiencia < entidade.custo.autocontrole %}
                    <div class = 'col s8 col-titulo'> AutoControle </div>
                {% endif %}

                <div class = 'col s2 col-valor'> {{entidade.ficha.autocontrole}} </div>
            </div>
            <div class = 'row linha'>

                {% if entidade.ficha.experiencia >= entidade.custo.coragem %}
                <div class = 'col s2 col-btn'>
                    <form action="{% url 'upar_virtude' %}"  method="post"> {% csrf_token %}
                        <input type="hidden" name="id" value = "{{ entidade.ficha.id }}">
                        <input type="hidden" name="campo" value = "coragem">
                        <button type="submit" class="vcheck btn-alt-stats"><i class="tiny material-icons"> exposure_plus_1 </i></button>
                    </form>
                </div>
                <div class = 'col s6 col-titulo'> Coragem </div>
                {% endif %}

                {% if entidade.ficha.experiencia < entidade.custo.coragem %}
                    <div class = 'col s8 col-titulo'> Coragem: </div>
                {% endif %}

                <div class = 'col s2 col-valor'> {{entidade.ficha.coragem}} </div>
            </div>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Humanidade: </div>
                <div class = 'col s2 col-valor'> {{entidade.ficha.humanidade}} </div>
            </div>
        </div>

        <div class = 'col s6'>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Defesa: </div>
                <div class = 'col s2 col-valor'> {{entidade.ficha.defesa}} </div>
            </div>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Iniciativa: </div>
                <div class = 'col s2 col-valor'> {{entidade.ficha.iniciativa}} </div>
            </div>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Deslocamento: </div>
                <div class = 'col s2 col-valor'> {{entidade.ficha.deslocamento}} </div>
            </div>
        </div>
    </div>
    <!---------- Virtudes Fim ---------->

    <!---------- Disciplinas Início ---------->
    {% if entidade.disciplinas != None %}
    <hr>

    <div class="row">
        <h5 class = 'title-session'> Disciplinas </h5>
        <div class="col s12">
            {% for disciplina in entidade.disciplinas %}
            <div class = 'row'>
                <div class = 'col s9 col-titulo'> {{ disciplina.titulo }} </div>
                <div class = 'col s2 col-valor'> {{disciplina.valor}} </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!---------- Disciplinas Fim ---------->

    <!---------- Qualidades e Defeitos Início ---------->
    {% if entidade.qualidades != None or entidade.defeitos != None %}
    <hr>

    <div class="row">
        <h5 class = 'title-session'>  Qualidades e Defeitos  </h5>
        <div class="col s6">
            {% for qualidade in entidade.qualidades %}
            <div class = 'row'>
                <div class = 'col s12 col-titulo'> {{ qualidade.titulo }} </div>
            </div>
            {% endfor %}
        </div>
        <div class="col s6">
            {% for defeito in entidade.defeitos %}
            <div class = 'row' style="text-align:right;">
                <div class = 'col s12 col-titulo'> {{ defeito.titulo }} </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!---------- Qualidades e Defeitos Fim ---------->

    <!---------- Antecendentes Início ---------->
    {% if entidade.antecendentes != none %}
    <hr>

    <div class="row">
        <h5 class = 'title-session'>  Antecendentes </h5>
        <div class="col s12">
            {% for antecendente in entidade.antecendentes %}
            <div class = 'row'>
                <div class = 'col s9 col-titulo'> {{ antecendente.titulo }} </div>
                <div class = 'col s2 col-valor'> {{antecendente.valor}} </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!---------- Antecendentes Fim ---------->

    <!---------- Inventário Início ---------->
    {% if entidade.inventario != None %}
    <hr>

    <div class="row">
        <div class="col s12">
            {% for item in entidade.inventario %}
            <div class = 'row'>
                <div class = 'col s12 col-titulo'> {{ item.titulo }} </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!---------- Inventário Fim ---------->

</div>
<!-- Fim Primeira Coluna -->


<!-- Inicio Segunda Coluna -->
<div class="col s8 col-direita">

    <!---------- Atributos Início ---------->
    <h5 class = 'title-session'>  Atributos  </h5>
    <div class = 'row'>
        <div class = 'col s4'>
            <h6 class = 'subtitle-session'> Físicos </h6>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Força </div>
                <div class = 'col s3 col-valor'> {{entidade.ficha.forca}} </div>
            </div>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Destreza </div>
                <div class = 'col s3 col-valor'> {{entidade.ficha.destreza}} </div>
            </div>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Vigor </div>
                <div class = 'col s3 col-valor'> {{entidade.ficha.vigor}} </div>
            </div>
        </div>
        <div class = 'col s4'>
            <h6 class = 'subtitle-session'> Sociais </h6>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Carisma </div>
                <div class = 'col s3 col-valor'> {{entidade.ficha.carisma}} </div>
            </div>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Manipulação </div>
                <div class = 'col s3 col-valor'> {{entidade.ficha.manipulacao}} </div>
            </div>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Aparência </div>
                <div class = 'col s3 col-valor'> {{entidade.ficha.aparencia}} </div>
            </div>
        </div>
        <div class = 'col s4'>
            <h6 class = 'subtitle-session'> Mentais </h6>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Percepção </div>
                <div class = 'col s3 col-valor'> {{entidade.ficha.percepcao}} </div>
            </div>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Inteligência: </div>
                <div class = 'col s3 col-valor'> {{entidade.ficha.inteligencia}} </div>
            </div>
            <div class = 'row'>
                <div class = 'col s8 col-titulo'> Raciocínio </div>
                <div class = 'col s3 col-valor'> {{entidade.ficha.raciocinio}} </div>
            </div>
        </div>
    </div>
    <!---------- Atributos Fim ---------->

    <hr>

    <!---------- Habilidades Início ---------->
    <div class="row">
        <h5 class = 'title-session'> Habilidades  </h5>
        <div class="col s4">

            <h6 class = 'subtitle-session'> Talentos </h6>
            {% for habilidade in entidade.habilidades %}
                {% if habilidade.tipo == 1 %}
                    <div class = 'row'>
                        <div class = 'col s2 col-btn'>
                            <form action="{% url 'upar_habilidade' %}"  method="post"> {% csrf_token %}
                                <input type="hidden" name="id" value = "{{ habilidade.id }}">
                                {% if habilidade.checked == True %}
                                    <button type="submit" class="vcheck btn-alt-stats"><i class="tiny material-icons"> exposure_plus_1 </i></button>
                                {% endif %}
                            </form>
                        </div>
                        <div class = 'col s6 col-titulo'> {{ habilidade.titulo }} </div>
                        <div class = 'col s3 col-valor'> {{ habilidade.valor }} </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col s4">
            <h6 class = 'subtitle-session'> Perícias </h6>
            {% for habilidade in entidade.habilidades %}
                {% if habilidade.tipo == 2 %}
                    <div class = 'row'>
                        <div class = 'col s2 col-btn'>
                            <form action="{% url 'upar_habilidade' %}"  method="post"> {% csrf_token %}
                                <input type="hidden" name="id" value = "{{ habilidade.id }}">
                                {% if habilidade.checked == True %}
                                    <button type="submit" class="btn-alt-stats vcheck"><i class="tiny material-icons"> exposure_plus_1 </i></button>
                                {% endif %}
                            </form>
                        </div>
                        <div class = 'col s6 col-titulo'> {{ habilidade.titulo }} </div>
                        <div class = 'col s3 col-valor'> {{ habilidade.valor }} </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col s4">
            <h6 class = 'subtitle-session'> Conhecimentos </h6>
            {% for habilidade in entidade.habilidades %}
                {% if habilidade.tipo == 3 %}
                    <div class = 'row'>
                        <div class = 'col s2 col-btn'>
                            <form action="{% url 'upar_habilidade' %}"  method="post"> {% csrf_token %}
                                <input type="hidden" name="id" value = "{{ habilidade.id }}">
                                {% if habilidade.checked == True %}
                                    <button type="submit" class="btn-alt-stats vcheck"><i class="tiny material-icons"> exposure_plus_1 </i></button>
                                {% endif %}
                            </form>
                        </div>
                        <div class = 'col s6 col-titulo'> {{ habilidade.titulo }} </div>
                        <div class = 'col s3 col-valor'> {{ habilidade.valor }} </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!---------- Habilidades Início ---------->
</div>
{% endblock conteudo %}