<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> {% block title %} {% endblock %} </title>
</head>
<body>

    <div class="row">
        <div class="col s3">
            <ul id="slide-out" class="sidenav sidenav-fixed">
                <li><a class="btn disabled" href="#!">  Mesas <i class="material-icons right">new_releases</i></a></li>
                <li><a class="btn disabled" href="#!">  Personagens <i class="material-icons right">new_releases</i> </a></li>
                <li><a class="btn disabled" href="#!">  Configurações <i class="material-icons right">new_releases</i> </a></li>
            </ul>
        </div>
        <div class="col s9">
            {% for mesa in mesas %}
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title"> {{ mesa.titulo }} </span>
                    {% if mesa.sistema == 1 %}
                        <p> Vampiro a Máscara </p>
                    {% endif %}
                    {% if mesa.sistema == 2 %}
                        <p> O Chamado de Cthulhu </p>
                    {% endif %}
                    <p> Mestre: {{ mesa.mestre }} </p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

</body>
</html>