{% extends 'core/baseTemplateSemMenu.html' %}

{% block title %}
    Login
{% endblock title %}

{% block conteudo %}

<div class = "col s3"></div>

<form action="{% url 'login' %}" method="post" class="col s6 blue-grey darken-2"
      style="border-radius: 1px 50px; margin-top:13%"> {% csrf_token %}

    <div class="input-field col s12">
        <input id="username" name="username"  type="text" class="validate">
        <label for="username"> Usuário </label>
    </div>
    <div class="input-field col s12">
        <input id="password" name="password" type="password" class="validate" style="margin-bottom:0px;">
        <label for="password">Senha</label>
    </div>

    <div class = "row">
        <div class="input-field col s8" style="margin-top:0px; margin-bottom:0px; padding-left:25px; font-size: 10pt;">
            <a href = "{% url 'esqueceu_senha' %}"> Esqueceu a Senha? </a>
            <br>
            <a href = "{% url 'cadastro_usuario' %}"> Cadastre-se </a>
        </div>
        <div class = "col s4" style="padding-right:25px;">
            <button class="btn-large waves-effect waves-light" style="width:100%;" type="submit">Login
            </button>
        </div>
    </div>

</form>
{% endblock %}