button {
    border: 1.5   0px solid #B4AFA7;
    border-radius: 4px;
    background-color:#212121;
    text-align:center;
    color:#ffd54f;
    padding:5 5 5 5px;
    transition-duration: 0.4s;
}
.vcheck {
    border: 1.5   0px solid #B4AFA7;
    border-radius: 4px;
    background-color:#008000;
    text-align:center;
    color:#ffd54f;
    padding:5 5 5 5px;
    transition-duration: 0.4s;
}

.xcheck{
    border: 1.5   0px solid #B4AFA7;
    border-radius: 4px;
    background-color:red;
    text-align:center;
    color:#ffd54f;
    padding:5 5 5 5px;
    transition-duration: 0.4s;
}

button:hover {
}

button:active {
  background-color: #212121;
  transform: translateY(4px);
}
.esquerda, .direita {
    border-style: double;
    padding-right:3px;
}
hr{
    border: 1px solid #ffd54f ;
}

h5{
    font-family: 'Josefin Sans', sans-serif;
}

h6, p{
    font-family: 'Josefin Sans', sans-serif;
}
body.fichas {
  background-color: #212121;

}

.container {
  width: 99%;
}

.row {
  margin-bottom: -15px;
  margin-top: 0px;
}

.title-session {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 15px;
  text-align:center;
  color: #FE4A49;
}
.subtitle-session{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
    text-align:center;
    color: #D6D6D6;
}

.linha {
  margin-bottom: 12px;
}

.campo {
  font-family: 'Lora', serif;
}

.valor{
    border-style: outset;
    border-color: #B4AFA7;
    border-width: 2.5px;
    margin-right: -2px;
    text-align:center;
}

#token {
    width: 80%;
}

.porcentagem{
    background-color: #e0e0e0;
    height: 26px;
    padding: 0px !important;
}

.porcentagem_barra{
    background-color: #e57373;
    height: 20px;
    margin-top: 1px;
}

.atributo{
    font-size:11pt;
    font-family: 'Lora', serif;
}

.btn-upar{
    position: fixed;
	width: 150px;
	top: 5px;
	right: 2.8%;
	color:#ffe082;
	background-color:#263238;
}

.btn-upar:hover{
   background-color:#455a64;
}

.normal{
    text-align: center;
    font-size:25px;
    border-style: groove none groove groove;
    border-color: #ffd54f;
    height:60px;
    padding-top:6px !important;
}

.bom, .extremo{
    border-style: groove;
    border-color: #ffd54f;
    height:30px
}