body {
  background-color: lightblue;
}

.container {
  width: 98%;
}

.row {
  margin-bottom: -15px;
  margin-top: 0px;
}

.title-session {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
